<div data-ng-controller="LoginController" class="tab-content">
    <div class="login-main">
        <div class="username-row">
            <label class="username-txt">Codename: </label>
            <input name="user_name" class="username-field" autocomplete="on" data-ng-model="newUser.userName" />
        </div>
        <div class="passcode-row">
            <label class="password-txt">Passcode: </label>
            <input name="password" type="password" class="password-field" autocomplete="on" value="" data-ng-model="newUser.password" />
        </div>
        <div class="login-btn-row">
            <div class="login-button" data-ng-click="attemptLogin();">login</div>
            <label class="login-error-msg" data-ng-show="isError">{{currentErrorMsg}}</label>
        </div>
    </div>
</div>
